@import url("https://fonts.google.com/specimen/Outfit");
body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

main {
    background-color: hsl(217, 54%, 11%);
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inner {
    background-color: hsl(216, 50%, 16%);
    width: 270px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 1px 1px 5px hsl(216, 50%, 16%);
    height: 505px;
}

.eqblm {
    display: flex;
    justify-content: center;
    height: 17em;
    border-radius: 10px;
}

.inner-image {
    position: relative;
}

.eye {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: hsla(178, 100%, 50%, 0.5) url("images/icon-view.svg") no-repeat center;
}

.inner-image:hover .eye {
    cursor: pointer;
    display: block;
}

h1 {
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    /* font-size: 20px; */
}

h1:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

p {
    color: hsl(215, 51%, 70%);
    line-height: 25px;
    font-weight: 400;
    /* font-size: 14px; */
}

.clock {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.clock img {
    margin-right: 10px;
}

.ETH {
    color: hsl(178, 100%, 50%);
    margin-right: 10px;
    /* font-size: 15px; */
}

.avatar img {
    width: 35px;
    border-radius: 50%;
    border: 1px solid hsl(0, 0%, 100%);
    margin-right: 18px;
}

.avatar {
    border-top: 1px solid hsl(215, 51%, 70%);
    padding-top: 20px;
}

span {
    display: flex;
    align-items: center;
    color: hsl(215, 51%, 70%);
    /* font-size: 14px; */
}

.jules {
    color: hsl(0, 0%, 100%);
    margin-left: 8px;
}

.jules:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}